{% extends 'base.html.twig' %}

{% block title %}Insurances{% endblock %}
{% block TabelTitle %}
    Available Insurances
    <div class="float-end">
    <a href="insurances/new" class="btn btn-primary ">Create new insurance</a>
    <a href="customers/new" class="btn btn-primary ">Create new customer</a>
    <button id="filteringButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Filter <i class="fa-solid fa-filter"></i></button>
    </div>
{% endblock %}
{% block TableBody %}
    <table class="table table-bordered tabel-striped">
        <thead>
        <tr>
            <th>Nr crt.</th>
            <th>
                <div class="d-flex align-items-center">
                Type
                <form method="POST" >
                    <button type="submit" name="sort" value="type" class="btn btn-sm"> <i class="fa-solid fa-sort-down"></i></button>
                </form>
                </div>
            </th>
            <th><div class="d-flex align-items-center">
                    Status
                    <form method="POST">
                        <button type="submit" name="sort" value="status" class="btn btn-sm"> <i class="fa-solid fa-sort-down"></i></button>
                    </form>
                </div></th>
            <th>
                <div class="d-flex align-items-center">
                    Creation date
                    <form method="POST">
                        <button type="submit" name="sort" value="creation_date" class="btn btn-sm"> <i class="fa-solid fa-sort-down"></i></button>
                    </form>
                </div>
            </th>
            <th><div class="d-flex align-items-center">
                   Customer
                    <form method="POST">
                        <button type="submit" name="sort" value="insured" class="btn btn-sm"> <i class="fa-solid fa-sort-down"></i></button>
                    </form>
                </div></th>
            <th>
                <div class="d-flex align-items-center">
                    Insuring company
                    <form method="POST">
                        <button type="submit" name="sort" value="insurer" class="btn btn-sm"> <i class="fa-solid fa-sort-down"></i></button>
                    </form>
                </div></th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for insurance in insurances %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ insurance.type }}</td>
                <td>{{ insurance.status }}</td>
                <td>{{ insurance.creationDate|date("Y-m-d") }}</td>
                <td>{{ insurance.insured.name }}</td>
                <td>{{ insurance.insurer.name }}</td>
                <td>
                    <div class="d-flex align-items-center">
                    <a href="/insurances/{{ insurance.id }}"  class="btn"><i class="fa-solid fa-pen-to-square"></i></a>
                    <form action="../../EntityManager.php" method="POST">
                        <button type="submit" name="deleteInsurance" value="{{ insurance.id }}" class="btn"><i class="fa-solid fa-trash"></i></button>
                    </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody></table>
{% endblock %}
{% block Modal %}
    {% include 'Insurance/filterModal.html.twig' with { 'insurances': insurances , 'customers':customers } %}

    <script>
        const myModal=new bootstrap.Modal('myModal');
        const button=document.getElementById('filteringButton');
        button.addEventListener('DOMContentLoaded',()=>{
            myModal.show();
        })
    </script>
{% endblock %}