{% extends 'base.html.twig' %}

{% block title %}New Insurance{% endblock %}
{% block TabelTitle %}Create new insurance
    <a href="../insurances" class="btn btn-primary float-end">Back</a>
{% endblock %}
{% block TableBody %}

    <form action="../../EntityManager.php" method="POST">
        <div class="mb-3">
            <label>Type</label>
            <select id="typeSelect" name="type" class="form-control" required>
                <option value="Dental">Dental</option>
                <option value="Private">Private</option>
            </select>
        </div>
        <div class="mb-3">
            <label>Status</label>
            <select name="status" class="form-control" required>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
        </div>
        <div class="mb-3">
            <label>Insuring company</label>
            <select name="insurer_id" class="form-control" required>
                {% for insurer in insurers %}
                    <option value="{{ insurer.id }}">{{ insurer.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label>Customer</label>
            <select name="insured_id" class="form-control" required>
                {% for customer in customers %}
                <option value="{{ customer.id }}">{{ customer.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3" id="servicesDiv" style="display: none;">
            <label>Services</label>
            <select id="servicesSelect" name="services[]" class="form-control" multiple>
                {% for service in services %}
                    <option value="{{ service.id }}" data-price="{{ service.price }}">{{ service.name }}</option>
                {% endfor %}
            </select>
        </div>
        <h6 id="priceMessage" class='alert alert-success' style="display: block;">Your yearly price will be : <br>  {{ insurances[0].dentalInsurancePrice }}.00$</h6>
        <div class="mb-3">
            <button type="submit" name="saveInsurance" class="btn btn-primary">Save service</button>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
<script>
    document.getElementById('typeSelect').addEventListener('change', function() {
        var selectedType = this.value;
        var priceMessage = document.getElementById('priceMessage');

        if (selectedType === 'Private') {
            document.getElementById('servicesDiv').style.display = 'block';
            priceMessage.style.display = 'none';
        } else {
            document.getElementById('servicesDiv').style.display = 'none';
            priceMessage.style.display = 'block';
                var message = 'Your yearly price will be : '  + '<br>';
                message +=  parseFloat("{{ insurances[0].dentalInsurancePrice }}").toFixed(2);
                message += '$';
                priceMessage.innerHTML = message;
        }
        document.getElementById('selectedType').value = selectedType;
    });
    </script>
    <script>
        var servicesSelect = document.getElementById('servicesSelect');
        var priceMessage = document.getElementById('priceMessage');

        servicesSelect.addEventListener('change', function () {
            var selectedValues = Array.from(servicesSelect.selectedOptions);
            var selectedPrices = selectedValues.map(option => option.getAttribute('data-price'));

            if (selectedValues.length > 0) {
                priceMessage.style.display = 'block';
                var message = 'Your monthly price will be : '  + '<br>';
                var totalPrice = selectedPrices.reduce((sum, price) => sum + parseFloat(price), 0);
                message +=  totalPrice.toFixed(2);
                message += '$';
                priceMessage.innerHTML = message;
            } else {
                priceMessage.style.display = 'none';
            }
        });

    </script>
{% endblock %}